body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
}

.mainWrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 20px;
}

/* Input Section */

.taskAdd{
    position: relative; 
    
}


.input{
    
    border: 2px solid #2EA1FF;
    border-radius: 12px;
    height: 40px;
    width: 500px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 15px;
}

/* remove the border color after clicking */
.input:focus{
    outline: none;
    border-color: #1c7ed6;
}

.addBtn{
    position: absolute;
    font-size: 22px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color:#2EA1FF;

}

.addBtn:hover{
    color:#1c7ed6;
}

/* Task List */

.taskList {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    width: 500px;
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    transition: background 0.2s ease;
}

.taskItem:hover {
    background-color: #f1f3f5;
}

.taskText {
    flex: 1;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.deleteBtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #e74c3c;
}

.deleteBtn:hover {
    color: #c0392b;
}
