.rating{
    display: flex;
    justify-content: center;
    
}
.rating i{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 80px;
    color: gold;
    margin: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}


i:hover {
    color:hsl(153, 85%, 74%);
}



